.Projects {
    display: flex;
    flex-direction: column;
    /* font-family: 'Archivo'; */
    font-family: 'Bebas Neue';
}


.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 20%;
    width: 100;
    border-bottom: 1px solid black;
}

.content {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 15%;
    height: 85%;
    width: 100%;
    text-align: start;
    color: black;
}

.logo {
    color: black;
    font-size: 3vw;
    font-family: 'Libre Barcode 39 Text';
    font-weight: 100;
    max-width: 40vw;
    text-align: left;
}

.navpane {
    height: 100%;
    width: 12%;
    border-right: 1px solid black;
    position: fixed;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* scrollbar-color: #b70b30 black;
    scrollbar-width: thin; */
}

.pane-text {
    font-size: 2.3vw;
    color: black;
}

.pane-year {
    font-size: 3vw;
    color:#686868;
    font-style: italic;
}

.chosen {
    font-size: 2.8vw;
    background: linear-gradient(45deg, #e01875, #b70b30, black);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    background-clip: text;
    -webkit-background-clip: text; 
    -moz-background-clip: text;  
    -moz-text-fill-color: transparent;  
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.proj {
    width: 88%;
    height: 100%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
}

.info {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.projdesc {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.imgcon {
    flex: 1;
    display: flex;
}

.desccon {
    display: flex;
    text-align: left;
    margin-left: 0%;
    font-size: 1vw;
}

.formatted {
    text-align: left;
    margin-left: 1%;
    font-size: 1vw;
    /* blank-space: pre-wrap; */
}


.namecon {
    width: 45%;
    height: 100%;
    text-align: left;
    margin-left: 5%;
}

.repocon {
    width: 50%;
    height: 100%;
}

